.button {
  border: 3px solid $green;
  border-radius: 15px;
  padding: 8px 8px;
  background-color: transparent;
  color: $green;
  font: normal 14px/1.42 'Open Sans', sans-serif;
  cursor: pointer;
  transition: 0.4s;
  white-space: nowrap;
  text-align: center;

  &:hover {
    background-color: $green;
    color: #000000;
  }
  &__header {
    border-width: 3px;
    padding: 16px 10px;
    line-height: 1;
    font-size: 18px;
  }
  &__hero {
    display: inline-block;
    min-height: 100px;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }

    &-main {
      width: 100px;
      background: center / 36px no-repeat
        url('https://it-events.com/system/attachments/files/000/002/088/original/dots__btn--white.svg');
      &:hover,
      &.button__active {
        background-image: url('https://it-events.com/system/attachments/files/000/002/087/original/dots__btn.svg');
        background-color: $green;
      }
    }
  }
}

.button__presen {
  color: #fff;
  background-color: #114490;
  font-size: 36px;
  margin: 0 auto;
  display: flex;
  padding: 8px 50px 11px;
}

.button__speaker {
  margin: 0px auto 25px;
  display: flex;
  font-size: 24px;
  padding: 8px 19px 11px;
}
