.socials__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}


.socials-srting-block {
  display: flex;
  align-items: center;
}

.socials-srting-block__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.socials-srting-block__item {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background-image: url(https://it-events.com/i/blocks/social/twitter.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}

.socials-srting-block__list .socials-srting-block__item:last-child {
  margin-right: 0;
}

.socials-srting-block__list
  .socials-srting-block__item
  + .social__item-text-block {
  width: auto;
  background-image: none;
}
.socials-srting-block__link {
  width: 100%;
  height: 100%;
  display: block;
}

.social__item-text-block {
  height: auto;
}

.form-section {
  & .socials-srting-block__item {
    width: 32px;
    height: 32px;
    background-size: contain;
  }
  & .social__item-text-block {
    font-size: 21px;
  }
}

.socials-srting-block__list .socials-srting-block__item:last-child {
  margin-right: 0;
}
.social__item-vk {
  background-image: url(https://it-events.com/i/blocks/social/vk.svg);
}
.social__item-fb {
  background-image: url(https://it-events.com/i/blocks/social/facebook.svg);
}
.social__item-yb {
  background-image: url(https://it-events.com/i/blocks/social/youtube.svg);
}
.social__item-tg {
  background-image: url(https://it-events.com/i/blocks/social/telegram.svg);
}
.social__item-ig {
  background-image: url(https://it-events.com/system/event_photos/imgs/000/013/225/original/icon_Instagram.png);
}

.socials {
  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: block;
    width: 60px;
    height: 60px;
    background-image: url(https://ostconf.com/i/blocks/social/twitter.svg);
    background-color: #ed4963;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-right: 13px;
    background-size: 30px 30px;
    margin-bottom: 20px;
    &:hover {
      background-image: url(./assets/img/twitter_icon_black.svg);
    }

    &:last-child {
      margin-bottom: 0;
      margin-right: 0;
    }
  }

  &__item:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }

  &__link {
    width: 100%;
    height: 100%;
    display: block;
  }

  &__item-vk {
    background-image: url(https://it-events.com/i/blocks/social/vk.svg);
    &:hover {
      background-image: url(./assets/img/vk_icon_black.svg);
    }
  }

  &__item-fb {
    background-image: url(https://it-events.com/i/blocks/social/facebook.svg);
    &:hover {
      background-image: url(./assets/img/facebook_icon_black.svg);
    }
  }

  &__item-yb {
    background-image: url(https://it-events.com/i/blocks/social/youtube.svg);
    &:hover {
      background-image: url(./assets/img/youtube_icon_black.svg);
    }
  }

  &__item-tg {
    background-image: url(https://it-events.com/i/blocks/social/telegram.svg);
    &:hover {
      background-image: url(./assets/img/telegram_icon_black.svg);
    }
  }
  &__item-in {
    background-image: url(./assets/img/instagram_icon.svg);
    &:hover {
      background-image: url(./assets/img/instagram_icon_black.svg);
    }
  }
}