.socials__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}


.socials-srting-block {
  display: flex;
  align-items: center;
}

.socials-srting-block__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.socials-srting-block__item {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background-image: url(https://it-events.com/i/blocks/social/twitter.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  &:hover {

  }
}

.socials-srting-block__list .socials-srting-block__item:last-child {
  margin-right: 0;
}

.socials-srting-block__list
  .socials-srting-block__item
  + .socials__item-text-block {
  width: auto;
  background-image: none;
}
.socials-srting-block__link {
  width: 100%;
  height: 100%;
  display: block;
}

.socials__item-text-block {
  height: auto;
}

.form-section {
  & .socials-srting-block__item {
    width: 32px;
    height: 32px;
    background-size: contain;
  }
  & .socials__item-text-block {
    font-size: 21px;
    background: none;
    width: auto;
  }
}

.socials-srting-block__list .socials-srting-block__item:last-child {
  margin-right: 0;
}


.socials {
  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: block;
    width: 60px;
    height: 60px;
    background-image: url(https://ostconf.com/i/blocks/social/twitter.svg);
    background-color: #ed4963;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-right: 13px;
    background-size: 30px 30px;
    margin-bottom: 20px;    

    &:last-child {
      margin-bottom: 0;
      margin-right: 0;
    }
  }

  &__item:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }

  &__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item-vk {
    background-image: url(https://it-events.com/i/blocks/social/vk.svg);
  }

  &__item-fb {
    background-image: url(https://it-events.com/i/blocks/social/facebook.svg);
  }

  &__item-yb {
    background-image: url(https://it-events.com/i/blocks/social/youtube.svg);
  }

  &__item-tg {
    background-image: url(https://it-events.com/i/blocks/social/telegram.svg);
  }
  &__item-in {
    background-image: url(./assets/img/instagram_icon.svg);
  }
}