$black: #000107;
$green: #93c11a;
$grey: #3e3e3e;
$yellow: #ffff00;

@mixin csgo {
  color: $csgo;
}
@mixin dota {
  color: $dota;
}
@mixin lol {
  color: $lol;
}

// .section--invisible {
//   display: none;
// }
// .section-title {
//   text-align: center;
//   margin-bottom: 64px;
//   text-transform: uppercase;
// }

.section__title {
  text-align: left;
  color: $yellow;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 0.05em;
  line-height: 1;
  margin-bottom: 32px;
}
.section__subtitle {
  margin-left: 14px;
  text-align: left;
  font-size: 18px;
  font-weight: normal;
  color: white;
}
